.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 33, 68, 0.8);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal {
  background-color: #fcfbf8;
  padding: 40px;
  border-radius: 5px;
  width: 90%;
  max-width: 400px;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #152544;
  cursor: pointer;
  transition: color 0.3s;
}

.modal__close:hover {
  color: #c6a778;
}

.modal__title {
  font-family: var(--serif-font);
  color: #152544;
  font-size: clamp(1.5rem, -0.024rem + 7.619vw, 2rem);
  margin-bottom: 5px;
}

.modal__subtitle {
  color: #666;
  font-size: clamp(0.85rem, 0.698rem + 0.762vw, 0.9rem);
  font-family: var(--sans-font);
  margin-bottom: clamp(15px, calc(-30.714px + 14.286vw), 30px);
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.modal__input {
  padding: clamp(6px, calc(-12.286px + 5.714vw), 12px)
    clamp(12px, calc(2.857px + 2.857vw), 15px);
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1rem;
  outline: none;
  font-family: var(--sans-font);
  font-weight: 400;
}

.modal__input:focus {
  border-color: var(--color-primary);
}

.modal__submit {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: clamp(12px, calc(2.857px + 2.857vw), 15px);
  border: none;
  border-radius: 3px;
  font-family: var(--sans-font);
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: clamp(5px, calc(-10.238px + 4.762vw), 10px);
  transition: background-color 0.3s;
}

.modal__submit:hover {
  background-color: #b39465;
}

.modal-overlay.active {
  visibility: visible;
  opacity: 1;
}
