.footer {
  background-color: var(--color-secondary);
  color: white;
  padding: 60px 0 20px;
}

.footer__container {
  display: flex;
  flex-direction: column;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  margin-bottom: 40px;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__logo {
  width: 50px;
  height: 50px;
}
.footer__logo-wrapper {
  display: flex;
  justify-content: flex-start;
}

.footer__name {
  font-family: var(--serif-font);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__link {
  color: #ccc;
  transition: color 0.3s ease;
  font-family: var(--sans-font);
}

.footer__link:hover {
  color: var(--color-primary);
}

.footer__socials {
  display: flex;
  gap: 15px;
}

.footer__social-link img {
  width: 45px;
  height: 45px;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
  padding: 6px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.footer__social-link:hover img {
  transform: translateY(-3px);
  background-color: #c6a7781a;
}

.footer__bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.175);
}

.footer__copyright {
  color: #888;
  font-size: 0.8rem;
  font-family: var(--sans-font);
}

@media (max-width: 768px) {
  .footer {
    padding: 0 0 20px;
  }

  .footer__logo {
    width: clamp(32px, calc(26.286px + 1.786vw), 40px);
    height: clamp(32px, calc(26.286px + 1.786vw), 40px);
  }

  .footer__top {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    margin-bottom: 30px;
    padding-top: 30px;
  }

  .footer__brand {
    flex-direction: row;
    align-items: center;
    gap: clamp(12px, calc(8.429px + 1.116vw), 17px);
    margin-bottom: 20px;
  }

  .footer__name {
    font-size: clamp(1.2rem, calc(0.914rem + 1.429vw), 1.6rem);
    display: flex;
    flex-direction: row;
    gap: 7px;
  }

  .footer__menu {
    padding: 0;
    margin-bottom: 30px;
    font-size: clamp(0.9rem, calc(0.686rem + 1.071vw), 1.2rem);
    gap: 17px;
  }

  .footer__socials {
    justify-content: center;
  }
  .footer__social-link img {
    width: clamp(37px, calc(31.286px + 1.786vw), 45px);
    height: clamp(37px, calc(31.286px + 1.786vw), 45px);
    padding: clamp(5px, calc(4.286px + 0.223vw), 6px);
  }
  .footer__copyright {
    font-size: clamp(0.66rem, calc(0.56rem + 0.5vw), 0.8rem);
  }
}
