.header {
  background-color: var(--color-secondary);
  color: white;
  padding: 10px 40px;
}

.header__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.header__user-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header__button,
.header__link {
  background: none;
  border: none;
  font-family: var(--sans-font);
  font-size: 1rem;
  cursor: pointer;
  color: white;
  transition: all 0.3s ease;
}

.header__link {
  padding: 10px;
}

.header__button:hover,
.header__link:hover {
  color: var(--color-primary);
}

.header__button-register {
  background-color: var(--color-primary);
  padding: 10px 18px;
  border-radius: 8px;
}

.header__button-register:hover {
  color: white;
  background-color: #b39465;
  transform: translateY(-2px);
}

.header__button-logout {
  padding-left: 10px;
}

.header__welcome {
  font-family: var(--sans-font);
  font-size: 1rem;
}

.header__first-name {
  display: inline-block;
  color: var(--color-primary);
  font-weight: 700;
  font-size: 1.08rem;
  margin-right: 1px;
}
.header__first-name::first-letter {
  text-transform: uppercase;
}

span.header__divider {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .header__button {
    font-size: clamp(0.9rem, calc(0.829rem + 0.357vw), 1rem);
  }
  .header__button-logout {
    font-size: 1rem;
  }
  .header__welcome {
    font-size: 0.9rem;
  }
  .header__first-name,
  .header__button-logout {
    font-size: 0.9rem;
  }

  .header__button-register {
    padding: clamp(8px, calc(6.571px + 0.446vw), 10px)
      clamp(14px, calc(11.143px + 0.893vw), 18px);
  }
  .header {
    padding: 10px clamp(10px, calc(-11.429px + 6.696vw), 40px);
  }
  .header a {
    display: none;
    opacity: 0;
  }
}
